{% extends 'base.html'%}

{% block contents %}
<body>
    <div>
        <div class="jumbotron" style="padding-top:100px; height:400px; ">
            <h1 class="display-4">
                <div class="container">
                     <h1 style="font-weight:600; color:darkslategrey"> ABOUT </h1>
                </div>
            </h1>
            <div class="container">  
                <p class="lead">&nbsp;&nbsp;AI_Project 본 서비스는 비영리 인공지능(AI) 연구 기업 OpenAI에서 발표한<br> GPT-2 모델을 변형, 참조하여 만든 서비스임을 밝힙니다. - SeungYun Shin    </p>
            </div>
            <div class="container">
                <hr class="my-4">
                <p>문의 사항이 있으면 자유롭게 문의 해 주세요.</p>
                
             </div>
        </div>
    </div>
</body>
{{text}}
{% endblock %}