{% extends 'base.html'%}

{% block contents %}
<body>
    <div>
        <div class="jumbotron" style="padding-top:100px; height:400px; ">
            <h1 class="display-4">
                <div class="container">
                     <h1 style="font-weight:600; color:darkslategrey"> AI Language Model </h1>
                </div>
            </h1>
            <div class="container">  
                <p class="lead">AI_Project 영문 작문 인공지능. </p>
            </div>
            <div class="container">
                <hr class="my-4">
                <p>문의 사항이 있으면 자유롭게 문의 해 주세요.</p>
                
             </div>
        </div>
    </div>
</body>
{{text}}
{% endblock %}